<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="bg-dark text-white mt-5" th:fragment="footer">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Sistema de Gestión de Tareas</h5>
                <p>© 2024 Desarrollado por Camilo Garay</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/index}" class="text-white"><i class="bi bi-house"></i> Inicio</a></li>
                    <li><a href="#" class="text-white"><i class="bi bi-question-circle"></i> FAQ</a></li>
                    <li><a href="#" class="text-white"><i class="bi bi-envelope"></i> Contacto</a></li>
                    <li><a href="#" class="text-white"><i class="bi bi-shield-lock"></i> Política de privacidad</a></li>
                    <li><a href="#" class="text-white"><i class="bi bi-file-text"></i> Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p><i class="bi bi-headset"></i> Soporte: soporte@tudominio.com</p>
                <p><i class="bi bi-clock"></i> Horario de atención: Lunes a Viernes, 9:00 - 18:00</p>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <button id="scroll-to-top" class="btn btn-outline-light rounded-circle">
            <i class="bi bi-arrow-up"></i></button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>

