<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header(title='Gestion de Tareas')}">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container mt-5 pt-4">
    <h2 class="text-center mb-4">Gestion de Tareas</h2>
    <p class="text-center text-muted mb-4">
        Aquí puedes gestionar todas las tareas. Usa los filtros para encontrar lo que necesitas.
    </p>
    <div class="row mb-4">
        <div class="col-md-6">
            <input type="text" class="form-control" id="searchText" placeholder="Buscar tarea..." oninput="filterTasks()">
        </div>
        <div class="col-md-3">
            <select class="form-select" id="filterPriority" onchange="filterTasks()">
                <option value="">Prioridad</option>
                <option value="ALTA">ALTA</option>
                <option value="MEDIA">MEDIA</option>
                <option value="BAJA">BAJA</option>
            </select>
        </div>

        <div class="col-md-3">
            <select class="form-select" id="filterStatus" onchange="filterTasks()">
                <option value="">Estado</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="COMPLETADO">Completado</option>
                <option value="CANCELADO">Cancelado</option>
            </select>
        </div>
    </div>
    <div class="text-center mb-4">
        <a th:href="@{/create-update-task}" class="btn btn-primary">
            <i class="bi bi-plus"></i> Crear Tarea
        </a>
    </div>
    <div class="row d-flex flex-wrap" id="taskContainer">
        <div th:each="task : ${tasks}" class="col-md-4 mb-4 task-card">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${task.title}"></h5>
                    <p class="card-text" th:text="${task.description}"></p>
                    <p><strong>Prioridad:</strong>
                        <span th:if="${task.priority.toString() == 'ALTA'}" class="badge bg-danger">ALTA</span>
                        <span th:if="${task.priority.toString() == 'MEDIA'}" class="badge bg-warning">MEDIA</span>
                        <span th:if="${task.priority.toString() == 'BAJA'}" class="badge bg-success">BAJA</span>
                    </p>
                    <p><strong>Encargado:</strong> <span th:text="${task.assignedTo.username}"></span></p>
                    <p><strong>Estado:</strong>
                        <span th:if="${task.status.toString() == 'PENDIENTE'}" class="badge bg-warning" data-status="PENDIENTE">Pendiente</span>
                        <span th:if="${task.status.toString() == 'COMPLETADO'}" class="badge bg-success" data-status="COMPLETADO">Completado</span>
                        <span th:if="${task.status.toString() == 'CANCELADO'}" class="badge bg-danger" data-status="CANCELADO">Cancelado</span>
                    </p>
                    <div class="d-grid gap-2">
                        <a th:href="@{/create-update-task/{id}(id=${task.id})}" class="btn btn-primary">Editar</a>
                        <a th:href="@{/delete-task/{id}(id=${task.id})}" class="btn btn-danger delete-task-btn">
                            Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>