<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header(title='Detalles de Tarea')}"></head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 w-75">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center text-primary mb-4" th:text="${task.title}"></h2>

                <p><i class="bi bi-card-text me-2"></i> <span th:text="${task.description}"></span></p>

                <p><i class="bi bi-exclamation-circle me-2"></i>
                    <span th:if="${task.priority.toString() == 'ALTA'}" class="text-danger">ALTA</span>
                    <span th:if="${task.priority.toString() == 'MEDIA'}" class="text-warning">MEDIA</span>
                    <span th:if="${task.priority.toString() == 'BAJA'}" class="text-success">BAJA</span>
                </p>

                <p><i class="bi bi-person me-2"></i> <span th:text="${task.assignedTo.username}"></span></p>

                <p><i class="bi bi-calendar me-2"></i> <span
                        th:text="${#temporals.format(task.createdAt, 'dd/MM/yyyy HH:mm')}"></span></p>

                <p><i class="bi bi-calendar-check me-2"></i> <span
                        th:text="${task.completedAt != null} ? ${#temporals.format(task.completedAt, 'dd/MM/yyyy HH:mm')} : 'No completada'"></span>
                </p>

                <p><i class="bi bi-info-circle me-2"></i> <span th:text="${task.status}"></span></p>
            </div>

            <div class="col-md-4 border-start d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <form th:if="${task.status.toString() == 'PENDIENTE'}" th:action="@{/task/take/{id}(id=${task.id})}"
                          method="post">
                        <button type="submit" class="btn btn-outline-primary w-100">Tomar tarea</button>
                    </form>

                    <form th:if="${task.status.toString() == 'PENDIENTE'}"
                          th:action="@{/task/complete/{id}(id=${task.id})}" method="post">
                        <button type="submit" class="btn btn-outline-success w-100 mt-2">Completar tarea</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>